# Python
.venv/
__pycache__/
*.pyc

# Databases
*.db

# Node/Vite
frontend/node_modules/
frontend/dist/

# IDE/OS
.vscode/
.DS_Store

# Env files
*.env
!backend/.env.example

# Uploads
backend/uploads/
uploads/

# Local
scratch/
